<%- include('./layout/header',{title: title}) %>
    <main class="container-md">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <div class="book card w-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= book.title %></h5>
                        <span><%= book.authors %></span>
                        <p class="card-text"><%= book.description %></p>
                        <% if(book.favorite){%>
                            <i class="bi bi-star-fill"></i>
                        <%}%>
                    </div>
                </div>
            </div>

        </div>

    </main>
<%- include('./layout/footer') %>